# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node
/node_modules/
/package-lock.json
/yarn.lock
# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.idea/
.project
.classpath
.c9/
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node
/node_modules/
/package-lock.json
/yarn.lock
# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/.angular-cli.json
/.ng/

# System files
.DS_Store
Thumbs.db
*.tsbuildinfo

